<div class="info-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="info-block__title sp-block">
                    {{ content.field_ib_left_title }}
                </div>
                <div class="info-block__body">
                    {{ content.field_ib_left_body }}
                </div>
                <div class="info-block__more">
                    {{ content.field_ib_left_button }}
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="info-block__title speaker-block">
                    {{ content.field_ib_middle_title }}
                </div>
                <div class="info-block__body">
                    {{ content.field_ib_middle_body }}
                </div>
                <div class="info-block__more">
                    {{ content.field_ib_middle_button }}
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="info-block__title participants-block">
                    {{ content.field_ib_right_title }}
                </div>
                <div class="info-block__body">
                    {{ content.field_ib_right_body }}
                </div>
                <div class="info-block__more">
                    {{ content.field_ib_right_button }}
                </div>
            </div>
        </div>
    </div>
</div>