{% extends 'page.html.twig' %}

{# Main #}
{% block main %}
    <div role="main" class="main-container container-fluid js-quickedit-main-content speakers-main">
        <div class="row">
            <div class="container">
                <div class="row">
                {# Sidebar First #}
                {% if page.sidebar_first %}
                    {% block sidebar_first %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_first }}
                        </aside>
                    {% endblock %}
                {% endif %}

                {# Content #}
                {%
                set content_classes = [
                page.sidebar_first and page.sidebar_second ? 'col-sm-6',
                page.sidebar_first and page.sidebar_second is empty ? 'col-sm-8 col-md-9',
                page.sidebar_second and page.sidebar_first is empty ? 'col-sm-8 col-md-9',
                page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
                ]
                %}
                <section{{ content_attributes.addClass(content_classes) }}>

                     {#Highlighted #}
                    {% if page.highlighted %}
                        {% block highlighted %}
                            <div class="highlighted">{{ page.highlighted }}</div>
                        {% endblock %}
                    {% endif %}

                    {# Breadcrumbs #}
                    {% if breadcrumb %}
                        {% block breadcrumb %}
                            {{ breadcrumb }}
                        {% endblock %}
                    {% endif %}

                    {# Action Links #}
                    {% if action_links %}
                        {% block action_links %}
                            <ul class="action-links">{{ action_links }}</ul>
                        {% endblock %}
                    {% endif %}

                    {# Help #}
                    {% if page.help %}
                        {% block help %}
                            {{ page.help }}
                        {% endblock %}
                    {% endif %}

                    {# Content #}
                    {% block content %}
                        <a id="main-content"></a>
                        {{ page.content }}
                    {% endblock %}
                </section>

                {# Sidebar Second #}
                {% if page.sidebar_second %}
                    {% block sidebar_second %}
                        <aside class="col-sm-4 col-md-3" role="complementary">
                            {{ page.sidebar_second }}
                        </aside>
                    {% endblock %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% if page.custom_region %}
    {% block custom_region %}
        <div class="container-fluid">
            <div class="row">
                {{ page.custom_region }}
            </div>
        </div>
    {% endblock %}
{% endif %}