{% extends "page.html.twig" %}
{# Main #}
{% block main %}
    <div role="main" class="main-container {{ container }} js-quickedit-main-content">
        <div class="row">
            <div class="container">

            {# Header #}
            {% if page.header %}
                {% block header %}
                    <div class="col-sm-12" role="heading">
                        {{ page.header }}
                    </div>
                {% endblock %}
            {% endif %}

            {# Content #}
            {%
            set content_classes = [
            page.sidebar_first and page.sidebar_second ? 'col-sm-6',
            page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
            page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
            page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
            ]
            %}
            <section{{ content_attributes.addClass(content_classes, "schedule-section") }}>

                {# Highlighted #}
                {% if page.highlighted %}
                    {% block highlighted %}
                        <div class="highlighted">{{ page.highlighted }}</div>
                    {% endblock %}
                {% endif %}

                {# Breadcrumbs #}
                {% if breadcrumb %}
                    {% block breadcrumb %}
                        {{ breadcrumb }}
                    {% endblock %}
                {% endif %}

                {# Action Links #}
                {% if action_links %}
                    {% block action_links %}
                        <ul class="action-links">{{ action_links }}</ul>
                    {% endblock %}
                {% endif %}

                {# Help #}
                {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                {% endif %}

                {# Content #}
                {% block content %}
                    <a id="main-content"></a>
                    {{ page.content }}
                {% endblock %}
            </section>
        </div>
        </div>
    </div>
{% endblock %}
